<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dipndipTLReports.Properties.Settings.dipckConnectionString"
            connectionString="Data Source=JOLLY\MSSQLSERVER14;Initial Catalog=dipck;Persist Security Info=True;User ID=sa;Password=adnan2011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>