<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="dipckEntities" connectionString="metadata=res://*/CKInvModel.csdl|res://*/CKInvModel.ssdl|res://*/CKInvModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JOLLY\MSSQLSERVER14;initial catalog=dipck;persist security info=True;user id=sa;password=adnan2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CKEntities" connectionString="metadata=res://*/CKModel.csdl|res://*/CKModel.ssdl|res://*/CKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JOLLY\MSSQLSERVER14;initial catalog=dipck;persist security info=True;user id=sa;password=adnan2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DIPKWEntities" connectionString="metadata=res://*/GPModel.csdl|res://*/GPModel.ssdl|res://*/GPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GPSERVER;initial catalog=DIPKW;persist security info=True;user id=ck;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="dipndipTLReports.Properties.Settings.dipckConnectionString"
            connectionString="Data Source=JOLLY\MSSQLSERVER14;Initial Catalog=dipck;Persist Security Info=True;User ID=sa;Password=adnan2011"
            providerName="System.Data.SqlClient" />-->
    <!--<add name="dipndipTLReports.Properties.Settings.dipckConnectionString" connectionString="Data Source=192.168.0.187\MSSQLSERVER14;Initial Catalog=dipck;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    
    <!-- ***************************** CKSERVER ********************************************************* -->
    
    <add name="dipckEntities" connectionString="metadata=res://*/CKInvModel.csdl|res://*/CKInvModel.ssdl|res://*/CKInvModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.180\MSSQLSERVER14;initial catalog=dipck;persist security info=True;user id=sa;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CKEntities" connectionString="metadata=res://*/CKModel.csdl|res://*/CKModel.ssdl|res://*/CKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.180\MSSQLSERVER14;initial catalog=dipck;persist security info=True;user id=sa;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GPDIPKWEntities" connectionString="metadata=res://*/GPModel.csdl|res://*/GPModel.ssdl|res://*/GPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GPSERVER;initial catalog=DIPKW;user id=ck;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DIPKWEntities" connectionString="metadata=res://*/GPModel.csdl|res://*/GPModel.ssdl|res://*/GPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.11;initial catalog=DIPKW;persist security info=True;user id=ck;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
    <add name="dipndipTLReports.Properties.Settings.dipckConnectionString"
            connectionString="Data Source=192.168.0.180\MSSQLSERVER14;Initial Catalog=dipck;User ID=sa;Password=Dip@123."
            providerName="System.Data.SqlClient" />
    <add name="dipndipTLReports.Properties.Settings.dipckcon" connectionString="Data Source=192.168.0.180\MSSQLSERVER14;Initial Catalog=dipck;User ID=sa;Password=Dip@123."
            providerName="System.Data.SqlClient" />
    
    <!-- ***************************** CKSERVER ********************************************************* -->
    
  
  <!-- ***************************** LOCAL ********************************************************* -->
    
    <!--<add name="dipckEntities" connectionString="metadata=res://*/CKInvModel.csdl|res://*/CKInvModel.ssdl|res://*/CKInvModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.95\MSSQLSERVER14;initial catalog=dipck;persist security info=True;user id=sa;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CKEntities" connectionString="metadata=res://*/CKModel.csdl|res://*/CKModel.ssdl|res://*/CKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.95\MSSQLSERVER14;initial catalog=dipck;persist security info=True;user id=sa;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GPDIPKWEntities" connectionString="metadata=res://*/GPModel.csdl|res://*/GPModel.ssdl|res://*/GPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GPSERVER;initial catalog=DIPKW;user id=ck;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DIPKWEntities" connectionString="metadata=res://*/GPModel.csdl|res://*/GPModel.ssdl|res://*/GPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.11;initial catalog=DIPKW;persist security info=True;user id=ck;password=Dip@123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
    <add name="dipndipTLReports.Properties.Settings.dipckConnectionString"
            connectionString="Data Source=192.168.0.95\MSSQLSERVER14;Initial Catalog=dipck;User ID=sa;Password=Dip@123."
            providerName="System.Data.SqlClient" />
    <add name="dipndipTLReports.Properties.Settings.dipckcon" connectionString="Data Source=192.168.0.95\MSSQLSERVER14;Initial Catalog=dipck;User ID=sa;Password=Dip@123."
            providerName="System.Data.SqlClient" />-->
    
  <!-- ***************************** LOCAL ********************************************************* -->
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.1.112.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.1.112.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.1.112.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Data" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.1.112.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>